streamlit

# Utilities
numpy
pandas

# FACE RECOGNITION
scikit-learn
dlib-bin #face recognition 

git+https://github.com/ageitgey/face_recognition_models #for embeddings
setuptools


supabase #database
bcrypt #hashing

segno #url-> qr code generation
pillow #for image processing


librosa
resemblyzer


